extends layout.pug
block style
 style 
        include ../node_modules/bootstrap/dist/css/bootstrap.min.css
        include style/style.css
block content
    div.bg
        div.bg_card.d-flex.justify-content-around.py-5
            div.card(style='width: 18rem;')
                img.card-img-top(src='https://images.unsplash.com/photo-1603899122634-f086ca5f5ddd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2VjdXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60', alt='...')
                div.card-body
                p.card-text
                    | Some quick example text to build on the card title and make up the  bulk of the card&apos;s content.
            div.card(style='width: 18rem;')
              img.card-img-top(src='https://images.unsplash.com/photo-1590065707046-4fde65275b2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2VjdXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60', alt='...')
              div.card-body
                p.card-text
                  | Some quick example text to build on the card title and make up  the  bulk of the card&apos;s content.
            div.card(style='width: 18rem;')
              img.card-img-top(src='https://images.unsplash.com/photo-1603899122361-e99b4f6fecf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNlY3VyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60', alt='...')
              div.card-body
                p.card-text
                  | Some quick example text to build on the card title and make up  the  bulk of the card&apos;s content.
        div.bg_card.d-flex.d-flex.justify-content-around.py-3
            div.card(style='width: 18rem;')
                img.card-img-top(src='https://media.istockphoto.com/photos/abstract-internet-cyber-security-network-concept-picture-id1422899223?b=1&k=20&m=1422899223&s=170667a&w=0&h=4TSOSGLzYvhK4p14WzppcQMkEt9WTuIGn6oYy7aPIiM=', alt='...')
                div.card-body
                p.card-text
                    | Some quick example text to build on the card title and make up the  bulk of the card&apos;s content.
            div.card(style='width: 18rem;')
              img.card-img-top(src='https://media.istockphoto.com/photos/digital-background-security-systems-and-data-protection-picture-id1318361166?b=1&k=20&m=1318361166&s=170667a&w=0&h=FqsTCksT3yZYHIru6Kxuoy5M2E7qYOSl3nRIYUUC2jc=', alt='...')
              div.card-body
                p.card-text
                  | Some quick example text to build on the card title and make up  the  bulk of the card&apos;s content.
            div.card(style='width: 18rem;')
              img.card-img-top(src='https://media.istockphoto.com/photos/close-up-of-a-businessman-using-a-laptop-computer-and-a-mobile-phone-picture-id1323765737?b=1&k=20&m=1323765737&s=170667a&w=0&h=abk3G5YclFNZ_qxoVxk3mz0phLuQXTRlDmLtvS1HCR8=', alt='...')
              div.card-body
                p.card-text
                  | Some quick example text to build on the card title and make up  the  bulk of the card&apos;s content.